.bettingForm {
    padding: 1.5rem 2rem;

    .betAmount {
        gap: 2rem;
    }

    .balance {
        font-family: Geometria;
        font-size: 4.5rem;
        font-weight: 500;
    }

    .betInput {
        margin-top: 1rem;
    }

    .betControls {
        margin-top: 1rem;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;

        button {
            font-family: OpenSans;
            text-transform: initial;
        }
    }

    .betBtns {
        margin-top: 1.7rem;
        display: flex;
        gap: 1.6rem;
        flex-wrap: wrap;

        button {
            width: 15.7rem;
            height: 4.7rem;
        }

        .betBtnContent {
            display: flex;
            align-items: center;
            gap: 0.7rem;
        }
    }

    .icon {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 420px) {
    .bettingForm {
        .betBtns {
            button {
                width: 100% !important;
            }
        }
    }
}
