.input {
    width: 100%;
    background: #ececec;
    font-size: 1.7rem;
    border-radius: 2.5rem;
    border: none;
    outline: none;
    text-align: center;
    padding: 1.2rem 2rem;
    box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.05) inset;
}
