.chat {
    position: relative;

    .img {
        top: -1.4rem;
    }

    .status {
        padding: 1rem 1.7rem 1rem 2.6rem;
        background: #55787d;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;

        .inChat {
            font-size: 1.5rem;
            font-weight: bold;
            color: #c4e5ea;
            display: flex;
            align-items: center;
            gap: 0.8rem;
        }

        .onlineLoadingSpinner {
            width: auto;
        }
    }

    .buttons {
        display: flex;
        gap: 1rem;
    }

    .iconBtn {
        width: 2.6rem;
        height: 2.6rem;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid #fff;
        position: relative;
        cursor: pointer;
        background: transparent;

        svg {
            color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &.iconActive {
            $active-color: #abc1ff;

            border-color: $active-color;

            svg {
                color: $active-color;
            }
        }
    }

    .submitSpinner svg {
        position: static;
    }

    .sendIconBtn {
        border-radius: 0;
        border: none;
    }

    .messages,
    .scrollbar {
        height: 61rem;

        &.loggedIn {
            height: 54.8rem;
        }
    }

    .scrollbar {
        &:hover {
            :global {
                .simplebar-track.simplebar-vertical {
                    .simplebar-scrollbar {
                        opacity: 1;
                    }
                }
            }
        }

        :global {
            .simplebar-track.simplebar-vertical {
                width: 0.5rem;

                .simplebar-scrollbar {
                    border-radius: 0.4rem;
                    background: rgb(85, 120, 125);
                    opacity: 0.4;
                    transition: opacity 0.2s;
                }
            }

            .simplebar-content-wrapper {
                display: flex;
                flex-direction: column;
            }

            .simplebar-content {
                flex: 1;
            }
        }
    }

    .authRequired {
        height: 5.8rem;
        padding: 1.8rem;
        background: rgba(0, 0, 0, 0.5);
        z-index: 5;
        position: absolute;
        bottom: 0;
        gap: 1.1rem;
        width: 100%;
        font-size: 1.6rem;
        color: #fff;
    }

    .sendMsg {
        height: 6.2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $dark-gray;
        padding: 1.8rem;
        gap: 0.5rem;

        .input {
            flex: 1;
            font-family: OpenSans;
            border: none;
            outline: none;
            background: transparent;
            font-size: 1.6rem;
            color: #fff;
            box-shadow: none;
            text-align: initial;
            padding: 0;
            border-radius: 0;

            &::placeholder {
                color: rgba(255, 255, 255, 0.9);
            }
        }

        .msgErrLabel {
            text-align: initial;
            color: $light-red;
        }

        .submitBtn {
            border: none;
            background: transparent;
            border-radius: 0;
            cursor: pointer;
        }
    }

    .infoText {
        font-size: 2.4rem;
        font-weight: 500;
        text-align: center;
        padding: 1rem;
    }
}

@media screen and (max-width: $xs) {
    .chat {
        .sendMsg {
            height: 7.5rem;

            .msgErrLabel {
                font-size: 1.1rem;
            }
        }

        .infoText {
            font-size: 2rem;
        }
    }
}
