.bonus {
    align-items: center;

    .bonusText {
        text-align: center;
    }

    .bonusAvailable {
        color: $light-green;
    }

    .bonusNotAvailable {
        color: #d1345b;
    }
}
