.config {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    align-items: flex-start;
    padding-bottom: 2rem;

    .editableForm {
        width: auto;

        .editableFormContent {
            align-items: flex-start;

            .editableFormTitleWrapper {
                width: auto;
            }
        }
    }
}
