:export {
    blue: $blue;
    lightBlue: $light-blue;
    red: $red;
    lightRed: $light-red;
    redSecondary: $red-secondary;
    black: $black;
    green: $green;
    darkGray: $dark-gray;
    lightGray: $light-gray;
    lightGraySecondary: $light-gray-secondary;
    purple: $purple;
}
