@import 'fonts';
@import 'burger';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    height: 100%;
}

body {
    height: 100%;
    font-family: OpenSans, sans-serif;
}

a {
    text-decoration: none;
    color: $black;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .title {
        text-align: center;
        font-size: 1.8rem;
        font-weight: 500;
    }
}

table {
    font-size: 1.6rem;
    table-layout: fixed;
    width: 100%;

    tr {
        text-align: center;
        vertical-align: middle;
    }

    td,
    th {
        flex: 1;
        padding: 1rem;
    }

    thead {
        tr {
            background-color: #f8f8f8;
        }
    }

    tbody {
        tr {
            &:nth-child(even) {
                background-color: #f8f8f8;
            }

            &:nth-child(odd) {
                background-color: #f7fcfd;
            }
        }
    }
}
