@import 'fonts';
@import 'burger';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    height: 100%;
}

body {
    height: 100%;
    font-family: OpenSans, sans-serif;
}

#__next {
    height: 100%;
}

.snackbar-content {
    #notistack-snackbar {
        font-size: 1.4rem;
        font-family: OpenSans;
    }
}

a {
    text-decoration: none;
    color: $black;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.bolder {
    font-weight: 500;
}

.bold {
    font-weight: bold;
}

.color-red {
    color: $red;
}

.color-blue {
    color: $blue;
}

.pointer {
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .title {
        text-align: center;
        font-size: 1.8rem;
        font-weight: 500;
    }
}

table {
    font-size: 1.6rem;
    table-layout: fixed;
    width: 100%;

    tr {
        text-align: center;
        vertical-align: middle;
    }

    td,
    th {
        flex: 1;
        padding: 1rem;
    }

    thead {
        tr {
            background-color: #f8f8f8;
        }
    }

    tbody {
        tr {
            &:nth-child(even) {
                background-color: #f8f8f8;
            }

            &:nth-child(odd) {
                background-color: #f7fcfd;
            }
        }
    }
}

.pagination {
    width: 100%;
    margin-top: auto;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    border-top: 1px solid #ccc;
    height: 6.2rem;
    padding: 1rem 1.8rem;
}

.pagination-page {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    border: 2px solid $blue;
    cursor: pointer;
    overflow: hidden;
}

.pagination-page-active {
    border: none;
}

.pagination-page-link {
    color: $blue;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-page-active-link {
    background: $blue;
    color: #fff;
}

.pagination-page-disabled {
    background: #000;
    border-color: $light-gray;
}
