// colors

$blue: #2898d2;
$dark-blue: #2384b6;
$light-blue: #2a97da;
$red: #de0f44;
$red-secondary: #af4c10;
$dark-red: #c30d3c;
$light-red: #ef2744;
$black: #080708;
$green: #80912f;
$dark-gray: #3e585b;
$light-gray: #ececec;
$light-gray-secondary: #c9d4d6;
$purple: #a433b8;
