.blockedUsers {
    height: 100%;
    display: flex;
    flex-direction: column;

    .search {
        padding: 1rem;
    }

    .listItem {
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }

    .userInfo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;

        .userInfoText {
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .info {
        font-size: 1.6rem;
    }

    .actionBtn {
        font-size: 1.2rem;
        padding: 0.8rem 1rem;
    }
}

.scrollbar {
    height: 54.6rem !important;

    &.hasPages {
        height: 48.4rem !important;
    }

    &.noPages {
        height: 61rem !important;
    }
}

.noBlockedUsers {
    height: 100%;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1rem 2rem;
    max-width: 75%;
    margin: auto;
}
